@charset "UTF-8";
/***************헤에에ㅔㅔ에에에에에ㅔ에더시시시시시시시자작ㄱㄱㄱㄱㄱ***************/
* {
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	height: 67px;
	background-image: url("../images/common/header_bg.png");
	background-repeat: repeat-x;
	position: fixed;
	top: 0px;
	z-index: 990;
}

#hdtop {
	width: 920px;
	/* background-color: gray; */
	height: 67px;
	margin: 0 auto;
	overflow: hidden;
}

#logo{
	margin-top:13px;
	float: left;
	
}
nav{
	margin-left: 150px;
	float: left;
}

nav li{
	float: left;
	list-style-type: none;
	margin-right: 20px;
	height: 67px;
	line-height: 67px;
	font-size: 0.9em;
}

nav a{
	color: white;
	text-decoration: none;
}

/* 마우스를 갖다댔을때 색깔이 바뀌는 거 */
nav a:hover{
	color: red;
	text-decoration: none;
}

.hdSubMenu {
	float: right;
}

.hdSubMenu li{
	list-style-type: none;
	float: left;
	margin-right: 10px;		
	height: 67px;
	line-height: 67px;
	font-size: 0.6em;

}
.hdSubMenu a{
	color: gray;
	text-decoration: none;
}
.hdSubMenu a:hover{
	color: white;
	text-decoration: none;
}
.hdSubMenu li:last-child {
	margin-right: 0px;
}
/*************헤ㅔ에에에에에에더ㅓ 끄틑ㅌㅌ트ㅡ틑ㅌ*******************/
/****************메인시작***************************/
#main {
	width: 100%;
	height: 942px;
	padding-top: 51px;
	margin-top: 67px;
	display: block;
}